body,
* {
  scroll-behavior: smooth;
}

html.dark .dataTables_wrapper .dataTables_length select {
  width: 50px !important;
}

.dataTables_wrapper .dataTables_length select {
  width: 100px !important;
  display: none !important;
}
.dataTables_wrapper .dataTables_length label {
  display: none !important;
}

.dataTables_wrapper .dataTables_filter input {
  width: 100% !important;
  height: 40px !important;
  margin-block: 30px !important;
}

.dataTables_wrapper .dataTables_filter {
  width: 100%;
}

.dataTables_wrapper .dataTables_filter label {
  display: none !important;
}

.dataTables_wrapper .dataTables_info {
  display: none !important;
}

/* .dataTables_wrapper .dataTables_paginate {
color: red !important;
background-color: red !important;
margin: 0 auto !important;
display: none;
}


#myTable_paginate{
	background-color: blue;
display: none;

} */